@use "./layouts/hero";
@use "./reset/reset";
@use "./layouts/shows";
@use "./layouts/plans";
@use "./variaveis/variaveis";
@use "./layouts/avaible-devices";

body{
  background-color: variaveis.$corDeFundo;
  font-family: Josefin Sans;
}

.image-text-section {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    max-width: 100%;
  }

  &__text_container {
    padding: 0 2vw;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  &--image-full-width {
    display: block;
    position: relative;

    img {
      width: 100%;
    }

    &__text_container {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: calc(50% - 5.6vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@mixin text($fontSize: 1rem) {
  font-size: $fontSize;
  line-height: $fontSize + .75rem;
  color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 2.5rem) {
  @include text($fontSize);
  color: variaveis.$corTextoSecundario;
}

.text--big {
  @include text(1.25rem);
}

.text {
  @include text;
}

.text--small {
  @include text(1rem);
}

.link-text {
  @include text(1.25rem);
  color: variaveis.$corTextoSecundario;
  text-decoration: underline;
}

.title--big {
  @include title(2.75rem);
}

.title {
  @include title;
}

.title--small {
  @include title(1.75rem);
}

.button {
  display: block;
  width: 100%;
  height: 3.75rem;
  font-size: 1.25rem;
  color: variaveis.$corTextoSecundario;
  background-color: #4834d4;
  text-transform: uppercase;
  border-radius: .25rem;
  border: none;
  margin-top: 2vh;
  margin-bottom: .5rem;
}