@use '../variaveis/variaveis';

.footer {
  padding: 1.75rem .5rem;

  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1.25rem;
  }

  &__logo {
    width: 16rem;
    margin: 0 auto .75rem;
  }

  &__links {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      display: inline-block;

      a {
        text-decoration: none;
        padding: .5rem 1rem;
        display: block;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }
      }
    }
  }

  p {
    margin-bottom: 1rem;
  }
}

.language-selector {
  display: flex;
  align-items: center;

  img {
    height: 1.25rem;
    width: 1.25rem;
  }

  select {
    background-color: transparent;
    border: none;
    color: variaveis.$corTextoPrincipal;
    height: 2.5rem;

    &:hover {
      color: variaveis.$corTextoSecundario;
    }

    option {
      color: variaveis.$corDeFundo;
    }
  }
}