@use '../variaveis/variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    @media (max-width: 768px) {
        margin-top: 3rem;
    }

    &__list {
        margin-top: 2.75rem;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: .25rem;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 1.5rem;
            border: none;
            padding-bottom: .25rem;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: .25rem solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: .8rem;
                padding: 0 .88rem 0;
            }
        }
    }
}